<h1>메인페이지</h1>

<a href="/home/new">게시글 작성</a>
<br />
<br />
<%=params%>
<%=@post_all%> <!--데이터가 들어있는 메모리의 주소값을 출력-->
<!--게시글 입력하게 되면 params에 담긴 정보가 title, content까지 추가되어서 늘어남!-->
<!--이 코드로 현재 레일즈에 저장된 정보가 무엇무엇인지 파악하기-->

<br />
<br />
<%=params[:post_title]%>
<%=params[:post_content]%>
<!--어라? 이렇게 뽑아 봤는데 그럼 게시글 작성할 때마다 그 작성한 게시글에 대한 내용만 나온다...ㅠㅠ-->
<!--글 쓴 것들이 다 보일 수 있으려면 db라는 테이블에 저장을 해두었다가 거기서 내용 꺼내와야함-->
<!--db가 있어야지 뽑을 수 있다. 한 행 한 행씩-->
<!--이때까지는 모델, 액션 모두 다 필요없으므로 controller파일도 코드 없고 model파일도 안 만들었음-->
<!--그러려면 db를 만드려면, model을 만들어야한다.-->

<!--db만들기(model만들기)-->
<!--만든 후에는 index페이지에다 게시글 다 보일 수 있도록 해주기!-->
<h2>게시글 목록</h2>
<%  @post_all.each do |p| %>
    <%=p.id%>
    <a href="/home/show/<%=p.id%>"><%=p.Title%></a>
    <!--이 게시글이 몇 번째 게시글인지도 url에 보내-->
    <%=p.Content%>
    <%=p.created_at%>
<!--created_at 은 미리 약속되어 있는 내용. 그 post 가 만들어진 시간을 그리니치천문대시간을
기준으로 저장함-->
    <br />
<% end %>
